src/node_red/flows_DESKTOP-G3G37JK.json
[{"id":"b0b5e465.4b3e48","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"af3b8701.658cb","type":"function","z":"b0b5e465.4b3e48","name":"","func":"msg.payload=\"Hello World\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["fc73ff33.b42998"]]},{"id":"ac147546.32a948","type":"template","z":"b0b5e465.4b3e48","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<HTML>\n  <head>\n    <script src=\"https://cdn.jsdelivr.net/npm/vue/dist/vue.js\"></script>\n  </head>\n  <body>\n\n    <div id=\"app\">\n      Hello {{ message }} !\n      <button @click=\"update\">change</button>\n    </div>\n    <script type=\"text/javascript\">\n      var app = new Vue({\n        el: '#app',\n        data: {\n          message: 'World'\n        },\n        methods: {\n          update() {\n          this.message = 'Vue.js'\n          }\n        }\n      })\n    </script>\n  </body>\n</HTML>","output":"str","x":320,"y":260,"wires":[["3f33ba92.d47bfe"]]},{"id":"fc8dee56.713af","type":"http in","z":"b0b5e465.4b3e48","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":110,"y":260,"wires":[["ac147546.32a948"]]},{"id":"3f33ba92.d47bfe","type":"http response","z":"b0b5e465.4b3e48","name":"","statusCode":"","headers":{},"x":600,"y":260,"wires":[]},{"id":"254d6e1a.b1b6b2","type":"http in","z":"b0b5e465.4b3e48","name":"","url":"/testapi","method":"get","upload":false,"swaggerDoc":"","x":120,"y":160,"wires":[["af3b8701.658cb"]]},{"id":"fc73ff33.b42998","type":"http response","z":"b0b5e465.4b3e48","name":"","statusCode":"","headers":{},"x":620,"y":160,"wires":[]},{"id":"1bf25a10.b0bafe","type":"uibuilder","z":"b0b5e465.4b3e48","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":320,"y":380,"wires":[["1ac8d110.c81c97","9699f29e.8e1458"],[]]},{"id":"6801e266.64317c","type":"http in","z":"b0b5e465.4b3e48","name":"","url":"/uibuilder","method":"get","upload":false,"swaggerDoc":"","x":130,"y":380,"wires":[["1bf25a10.b0bafe","51595d29.def0b4"]]},{"id":"1ac8d110.c81c97","type":"http response","z":"b0b5e465.4b3e48","name":"","statusCode":"","headers":{},"x":540,"y":380,"wires":[]},{"id":"51595d29.def0b4","type":"debug","z":"b0b5e465.4b3e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":460,"wires":[]},{"id":"9699f29e.8e1458","type":"debug","z":"b0b5e465.4b3e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":480,"wires":[]}]